<div class="app">
  <h1>Wolftech Interview Task</h1>
  
  <div class="error-messages-container">
    <div class="error" *ngFor="let error of errorMessages">
      <span>{{ error.message }}</span>
      <button class="error__button" (click)="removeErrorMessage(error.id)">x</button>
    </div>
  </div>


  <div>
    <h3>Pre-selected tree nodes <i>example: 1, 2, 3, ...</i></h3>
    <div class="pre-select-container">
      <input class="input" [(ngModel)]="dataNodePreSelectedOIDs">
      <span class="txt-small">Pre-expand?
        <mat-checkbox class="checkbox" type="checkbox" [(ngModel)]="preExpand"></mat-checkbox>
      </span>
    </div>
    
    <h2 class="paste-heading">Paste REST URL or JSON object here:</h2>
    <span class="txt-small">( Nb. JSON.parse does not allow trailing commas! )</span>
    <textarea [(ngModel)]="dataNodeURLOrJSON"></textarea>

    <div class="offline-data">
      <span class="txt-small">Use <i>/src/DATA.ts</i> instead</span>
      <mat-checkbox class="checkbox" type="checkbox" [(ngModel)]="useSrcData"></mat-checkbox>
    </div>

    <div class="get-data-container">
      <button class="button" (click)="getData()">GET DATA</button>
    </div>
    
  </div>

  <app-data-tree [nodes]="dataNodeTree" [preExpand]="true"></app-data-tree>

  <div class="show-selected-oid-button-container" *ngIf="dataNodeTree && dataNodeTree.length > 0">
    <button class="button" (click)="onShowSelectedOIDsButtonClicked()">Show selected OIDs</button>
  </div>
  
  <div class="full-page-dialog" *ngIf="showSelectedOIDsModal">
    
    <div class="modal">
      <button class="close-modal-button" (click)="showSelectedOIDsModal = false">x</button>
      <div class="modal-txt">{{ selectedOIDs }}</div>
    </div>
  </div>
</div>
