.app {
    max-width: 500px;
    font-size: 14px;
    color: white;
}
.txt-small {
    font-size: 0.8em;
    font-style: italic;
}
textarea {
    width: 100%;
    min-height: 100px;
    resize: vertical;
}

h1, h2, h3 {
    font-weight: normal;
}

.pre-select-container {
    display: flex;
    align-items: flex-end;
}   
    .txt-small, .checkbox {
        margin-top: 5px;
        margin-left: 5px;
    }
    .pre-select-container .input {
        flex: 1;
        font-size: 1.2rem;
        padding: 2px;
        color: rgba(0, 0, 0, 0.75);
    }

.paste-heading {
    margin-top: 30px;
}

.offline-data {
    display: flex;
    justify-content: flex-end;
}

.button {
    padding: 0px 10px;
    height: 30px;
    font-size: 16px;
    border: 2px solid grey;
    color: white;
    background-color: darkgrey;
}

.get-data-container {
    text-align: center;   
}
    .get-data-container .button {
        background-color: #0be881;
        border: 2px solid #05c46b;
        color: #05c46b;
    }
    .get-data-container .button:hover {
        background-color: #05c46b;
        color: white;
    }

.show-selected-oid-button-container {
    display: flex;
    justify-content: center;
}

.full-page-dialog {
    width: 100vw;
    height: 100vh;
    z-index: 9000;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}   
    .modal {
        position: relative;
        width: 300px;
        height: 200px;
        background-color: white;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 75);
        color: black;
    }
    .modal-txt {
        margin: 25px;
    }
    .modal .close-modal-button {
        position: absolute;
        top: 0px;
        right: 0px;
        background-color: white;
        border: none;
        font-size: 16px;
        width: 25px;
        height: 25px;
        border: 1px solid grey;
    }
