::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: white;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: #05c46b !important;
}

ul {
    list-style: none;
    background-color: rgba(72, 84, 96,1.0);
    overflow: hidden;
}
li {
    color: white;
    padding: 0px;
    margin: 0px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}


.li-content {
    position: relative;
    width: 100%;
}
    .accordion-button-container {
        width: 30px;
        /* border: 1px solid black; */
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
        .accordion-button-container .button {
            border: none;
            border-radius: 0px;
            background-color: rgba(0, 0, 0, 0);
            font-weight: bold;
            font-size: 1.2em;
            color: white;
        }
    .title, .amount-selected {
        display: inline-block;
        padding: 14px;
    }
    .title {
        width: 50%;
    }
    .amount-selected {
        position: absolute;
        width: 50px;
        right: 150px;
    }
    .checkbox-wrapper {
        display: inline-block;
        position: absolute;
        right: 50px;
        top: 12px;
    }
    
