<ul [style.padding.px]="nestingDept === 0 ? '0' : ''">
  <li *ngFor="let node of nodes" class="node">

    <div class="li-content">

      <div class="accordion-button-container">
        <button class="button" 
          *ngIf="!node.___IsExpanded && node.___Children.length > 0" 
          (click)="node.___IsExpanded = true"
        >+</button>
        <button class="button" 
          *ngIf="node.___IsExpanded && node.___Children.length > 0" 
          (click)="node.___IsExpanded = false"
        >-</button>
      </div>

      <div class="title" 
        [style.border-left]="'5px solid ' + node.Color"
        (click)="node.___IsExpanded = !node.___IsExpanded">
        {{ node.Title }}
      </div>

      <div class="amount-selected" >
        <span *ngIf="node.___Children.length > 0">
          ({{node.___AmountOfNestedChildrenSelected}}/{{node.___AmountOfNestedChildren }})
        </span>
      </div>

      <div class="checkbox-wrapper">
        <mat-checkbox
          [checked]="node.___IsSelected" 
          *ngIf="node.___Children.length === 0" 
          (change)="onIsSelectedCheckboxChange($event, node.OID)"
        ></mat-checkbox>
      </div>

    </div>

    <app-data-tree 
      [nodes]="node.___Children" 
      [preExpand]="preExpand" 
      *ngIf="node.___Children.length > 0"
      [nestingDept]="nestingDept + 1"
      [ngStyle]="{ 
        display: 'block', 
        overflow: 'hidden',
        'max-height': node.___IsExpanded ? (node.___AmountOfNestedParentsAndChildren * 50) + 'px' : '0px',
        transition: 'max-height ' + 0.2 + 's'
      }"
    ></app-data-tree>

  </li>
</ul>
