/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: sans-serif;
    background-color: rgba(72, 84, 96,1.0);
}

.error {
    background-color: rgba(255, 94, 87,1.0);
    color: rgba(0, 0, 0, 0.75);
    font-weight: bold;
    padding: 10px;
    font-size: 14px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.75);
    margin: 2px 0
}
.error__button {
    width: 25px;
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.75);
    color: rgba(0, 0, 0, 0.75);
    font-weight: bold;
    font-size: 14px;
    font-family: sans-serif;
    background-color: rgba(255, 63, 52,1.0)
}
